
.christmas{
	font-family:Cooper Black,Cambria,Georgia,Times,sans;
}
.christmas .app-title{
	color: #fff;
}
.christmas > .karaoke{
	background-image: url(christmas01.jpg);
	background-size:cover;
	background-position: center center;
	overflow:auto;
	font-family:Cooper Black,Cambria,Georgia,Times,sans;
	text-align:center;
	background-size: cover;
	color:#888;
	text-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc, -1px 1px 1px #ccc, 1px -1px 1px #ccc;
}
.christmas > .karaoke  .active{
	color:#B00;
}
.christmas > .karaoke  .active.last{
	color:#F66;
}
.christmas > .karaoke  .inactive{
	color:#040;
}
.christmas > .karaoke .next {
	color:#484;
}
.christmas > .karaoke .previous {
	color:#4A4;
}
.christmas .footer{
	color: #fff;
	text-shadow: 1px 1px 1px #333, -1px -1px 1px #333, -1px 1px 1px #333, 1px -1px 1px #333;
}


